!!!
%head
  %meta{:"http-equiv" => 'content-type', :content => 'text/html;charset=utf-8'}
  %title ==== TITLE HERE ====
  %meta{:name => 'description', :content => "===DESCRIPTION HERE==="}
  %link{:href => '/main.css', :rel => 'stylesheet', :type => 'text/css'}
  %script{:src => "/javascripts/jquery.js", :type => "text/javascript"}
  %script{:src => "/javascripts/jqueryui.js", :type => "text/javascript"}
  %script{:src => "/javascripts/global.js", :type => "text/javascript"}
  %script{:src => "/javascripts/application.js", :type => "text/javascript"}
%body
  =yield
